@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cairo:wght@200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Public+Sans:wght@300;400;700&family=Space+Grotesk:wght@300;400;500;600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100&display=swap');
:root {
    --color-beaver: #9e7f66;
    --color-cod-gray: #111111;
    --color-mirage: #17192b;
    --color-ebony-clay: #242b37;
    --color-shuttle-gray: #5c6779;
    --color-dark-gray: #4c4c4c;
    --color-white: #fff;
    --color-border: rgba(151, 151, 151, 0.15);
    --color-dark-blue-shaodw: rgba(56, 66, 85, 0.5);
    --color-error: #B54949;
    --card-shadow: 0 7.5rem 10rem -5rem var(--color-dark-blue-shaodw);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/********************
    Start-Container
********************/
.container{
    padding: 80px;
}
@media (max-width : 768px) {
    .container{
        padding: 20px;
    }
    
}
/********************
    Start-Container
********************/

/********************
    Start-Landing
********************/
.landing {
    background-image: url(images/homepage/hero-bg-desktop.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.landing .container{
    height: 100%;
}
.landing-text {
    color: var(--color-white);
    width: 40%;
}
.landing-text h1 {
    font-weight: 100;
    font-size: 70px;
    margin-top: 100px;
}
.landing-text p {
    margin: 20px 0;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.2;
    color: #888;
}
.book {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding: 20px;
    letter-spacing: 3px;
    transition: 0.5s ease;
}
.book:hover{
    background: rgba(255,255,255,0.3);
    transform: scale(0.96);
}
@media screen and (max-width : 768px) {
    .landing{
        background-image: url(images/homepage/hero-bg-mobile.jpg);
    }
    .landing .container{
        top: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .landing-text{
        text-align: center;
        width: 100%;
    }
    .landing-text h1 {
        font-size: 40px;
        margin-top: 20px;
    }
}

/********************
    End-Landing
********************/
/********************
    Start-Middle
********************/
.middle .container{
    position: relative;
}
.middle .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle .box:nth-child(2){
    flex-direction: row-reverse;
}
.middle .image {
    position: relative;
    width: 50%;
    filter: drop-shadow(2px 10px 10px rgba(0,0,0,0.5));
}
.middle .img-box {
    max-width: 100%;
}
.middle .box-text {
    width: 40%;
}
.middle .box-text h1{
    color: var(--color-mirage);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.1;
}
.middle .box-text p{
    margin-top: 20px;
    color: var(--color-dark-gray);
    font-size: 20px;
    line-height: 1.1;
    font-weight: 300;
}
.middle .pattern{
    position: absolute;
    top: 50px;
    right: 20px;
}
@media screen and (max-width : 768px) {
    .middle .container{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    .middle .image ,
    .middle .box-text {
        width: 100%;
    }
    .middle .box , 
    .middle .box:nth-child(2) {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .middle .box-text h1{
        font-size: 30px;
    }
    .middle .box-text p{
        font-size: 16px;
    }
    .middle .pattern{
        left: 50%;
        transform: translateX(-50%);
        top: -40px;

    }
}
/********************
    End-Middle
********************/
/********************
    Start-Highlights
********************/
.highlights {
    background: var(--color-cod-gray);
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.highlights .top{
    right: -150px;
    top: -80px;
}
.highlights .bottom{
    left: -150px;
    bottom: -80px;
}
.highlights .extra{
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,0.05);
    border-radius: 30px;
    transform: rotate(40deg);
}
.highlights .extra::after{
    position: absolute;
    content: '';
    background: rgba(255,255,255,0.05);
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
}
.highlights .container {
    display: flex;
    justify-content: space-between;
}
.highlights .left-side {
    width: 40%;
    color: #fff;
    position: relative;
}
.highlights .left-side::after{
    position: absolute;
    content: "";
    background: rgba(255,255,255,0.05);
    border-radius: 0 0px 100px 0;
    height: 350px;
    width: 150%;
    top: -100px;
    left: -170px;
}
.highlights .left-side h1 {
    font-size: 48px;
}
.highlights .left-side p {
    margin-top: 30px;
    line-height: 1.4;
    color: var(--color-shuttle-gray);
    font-size: 20px;
}
.highlights .pattern {
    position: absolute;
    top: -60px;
}
.highlights .right-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.highlights .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    color: #fff;
    border-bottom: solid rgba(255,255,255,0.05);
}
.highlights .box .image {
    position: relative;
    border-radius: 10px 0 0 0 ;
}
.highlights .box .box-img{
    position: relative;
    z-index: 2;
}

.pattern-line {
    right: -40px;
    top: 16px;
    transform: rotate(180deg);
    position: absolute;
}
.highlights .text{
    position: relative;
}
.highlights .text h3 {
    font-weight: 400;
}
.highlights .text p {
    margin-top: 10px;
    line-height: 1.4;
    color: gray;
}
@media screen and (max-width : 768px) {
    .highlights .container{
        flex-direction: column;
        gap: 100px;
    }
    .highlights .left-side {
        width: 100%;
        text-align: center;
    }
    .highlights .left-side::after{
        width: 120%;
        height: 140%;
        top: -50px;
        left: -50px;
    }
    .highlights .right-side{
        width: 100%;
        gap: 50px;
    }
    .highlights .box{
        flex-direction: column;
        text-align: center;
        gap: 40px;
        padding-bottom: 20px;
    }
    .highlights .left-side h1 {
        font-size: 30px;
    }
    .highlights .pattern {
        display: none;
    }
    .pattern-line{
        left: 50%;
        top: 90px;
        transform: translateX(-50%) rotate(270deg); 
    }
    .highlights .top{
        right: -180px;
        top: 300px;
    }
    
}
/********************
    End-Highlights
********************/
/********************
    Start-Branches
********************/

.branches .container {
    display: flex;
    align-items: center;
}
.branches .image {
    position: relative;
    width: 50%;
    filter: drop-shadow(2px 10px 10px rgba(0,0,0,0.5));
}
.branches .image .pattern{
    position: absolute;
    left: -50px;
    top: 50px;
}
.branch-img {
    max-width: 100%;
}
.branches .text {
    width: 40%;
}
.branch-heading {
    color: var(--color-ebony-clay);
    font-size: 40px;
}
.branch-p {
    color: var(--color-shuttle-gray);
    line-height: 1.2;
    font-size: 18px;
    margin: 20px 0;
}
.branches .book {
    background-color: #252525;
    color: #fff;
}
.branches .links {
    margin-top: 50px;
}
.branches .links .line-pattern{
    position: absolute;
    left: -90px;
    z-index: -1;
    opacity: 0;
    scale: 0;
    transition: 0.5s ease;
}
.branches .link-box {
    display: flex;
    align-items: center;
    margin: 30px 0;
    cursor: pointer;
    position: relative;
}
.branches .link:hover{
    color: var(--color-cod-gray);
}
.branches .link-box:hover .line-pattern{
    scale: 1;
    opacity: 1;
}
.branches .link {
    color: var(--color-shuttle-gray);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 17px;
    transition: 0.5s ease;
}
@media screen and (max-width : 768px) {
    .branches .container {
        flex-direction: column;
        gap: 30px;
    }
    .branches .image{
        width: 100%;
    }
    .branches .text{
        width: 100%;
        text-align: center;
    }
    .branches .links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px 30px;
    }
    .branches .link{
        font-size: 15px;
        letter-spacing: 0;
    }
    .branches .links .line-pattern{
        display: none;
    }
    .branches .link-box{
        margin: 15px 0px;
    }
}
/********************
    End-Branches
********************/
/********************
    Start-Footer
********************/
footer .top-side {
    height: 50%;
    background-image: url(images/homepage/ready-bg-desktop.jpg);
    background-size: cover;
}
footer .top-side h1{
    font-size: 40px;
}
footer .top-side .container,
footer .bottom-side .container{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .bottom-side {
    height: 50%;
    background-color: var(--color-cod-gray);
}
ul li{
    display: block;
    margin: 10px 0px;
}
@media screen and (max-width : 768px) {
    footer .top-side{
        background-image: url(images/homepage/ready-bg-mobile.jpg);
    }
    footer .top-side,
    footer .bottom-side{
        width: 100%;
    }
    footer .top-side .container,
    footer .bottom-side .container{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    footer .top-side .container{
        gap: 20px;
        padding: 60px 40px;
    }
    footer .top-side h1{
        font-size: 30px;
    }
}
/********************
    End-Footer
********************/


